{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Admin Base title {% endblock %}</title>
    <!-- link to bootstrap -->
    <link
      rel="stylesheet"
      href="{% static 'main/bootstrap/css/bootstrap.min.css' %}"
    />
    <script src="{% static 'main/bootstrap/js/bootstrap.bundle.js' %}"></script>
    <!-- my  admin css -->
    <link
      type="text/css"
      rel="stylesheet"
      href="{% static 'administrator/admin.css' %}"
    />
  </head>
  <body>
    <!-- <section>
      <nav
        class="navbar navbar-expand-lg navbar-light bg-light pt-2 pb-2"
        style="background: rgb(234, 234, 240) !important"
      >
        <div class="container">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarToggler"
            aria-controls="navbarToggler"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span
              class="navbar-toggler-icon"
              style="background-color: white; color: white"
            ></span>
          </button>
          {% if user.is_authenticated %}
          <a href="/administrator" class="navbar-brand"
            ><img
              src="{% static 'main/home.png' %}"
              alt="Logo"
              height="60"
              width="60"
            />
            Brekete Family | Admin Site</a
          >
          <div class="navbar-collapse collapse" id="navbarToggler">
            <ul class="navbar-nav me-auto">
              <li class="navbar-item">
                <a href="/administrator" class="nav-link"> Home</a>
              </li>
              <li class="navbar-item">
                <a href="/" class="nav-link">User Site</a>
              </li>
              <li class="navbar-item">
              <a href="/contact" class="nav-link">Contact us</a>
            </li>
            <li class="navbar-item">
              <a href="/about" class="nav-link">About us</a>
            </li>
            </ul>
            <span class="">
              <a href="/account/logout" class="btn btn-outline-primary ms-5"
                >Logout</a
              >
              {% else %}
              <a href="/account/login" class="btn btn-dark ms-5">Login here</a>
              {% endif %}
            </span>
          </div>
        </div>
      </nav>
    </section> -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <section>
            <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
              <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-4">Sidebar</span>
              </a>
              <hr>
              <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                  <a href="#" class="nav-link active" aria-current="page">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                    Home
                  </a>
                </li>
                <li>
                  <a href="#" class="nav-link link-dark">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                    Dashboard
                  </a>
                </li>
                <li>
                  <a href="#" class="nav-link link-dark">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                    Orders
                  </a>
                </li>
                <li>
                  <a href="#" class="nav-link link-dark">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                    Products
                  </a>
                </li>
                <li>
                  <a href="#" class="nav-link link-dark">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                    Customers
                  </a>
                </li>
              </ul>
              <hr>
              <div class="dropdown">
                <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                  <strong>mdo</strong>
                </a>
                <ul class="dropdown-menu text-small shadow">
                  <li><a class="dropdown-item" href="#">New project...</a></li>
                  <li><a class="dropdown-item" href="#">Settings</a></li>
                  <li><a class="dropdown-item" href="#">Profile</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
              </div>
            </div>
          </section>
        </div>
        <!-- end of side bar column -->

        <div class="col-md-9">
          {% block content %} {%endblock%}
        </div>
      </div>
    </div>
    
    <section>
      
    </section>
    <footer>
      <div class="container">
        <footer
          class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
        >
          <div class="col-md-4 d-flex align-items-center">
            <a
              href="/"
              class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1"
            >
              <svg class="bi" width="30" height="24">
                <use xlink:href="#bootstrap"></use>
              </svg>
            </a>
            <span class="mb-3 mb-md-0 text-muted"
              >© 2022 Brekete Family, Inc</span
            >
          </div>

          <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3">
              <a class="text-muted" href="#"
                ><svg class="bi" width="24" height="24">
                  <use xlink:href="#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="ms-3">
              <a class="text-muted" href="#"
                ><svg class="bi" width="24" height="24">
                  <use xlink:href="#instagram"></use></svg
              ></a>
            </li>
            <li class="ms-3">
              <a class="text-muted" href="#"
                ><svg class="bi" width="24" height="24">
                  <use xlink:href="#facebook"></use></svg
              ></a>
            </li>
          </ul>
        </footer>
      </div>
    </footer>
  </body>
</html>
