{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Admin Base title {% endblock %}</title>
    <!-- link to bootstrap -->
    <link
      rel="stylesheet"
      href="{% static 'main/bootstrap/css/bootstrap.min.css' %}"
    />
    <script src="{% static 'main/bootstrap/js/bootstrap.bundle.js' %}"></script>
    <!-- my  admin css -->
    <link
      type="text/css"
      rel="stylesheet"
      href="{% static 'administrator/admin.css' %}"
    />
  </head>
  <body>
    <section>
      <nav
        class="navbar navbar-expand-lg navbar-light bg-light pt-2 pb-2"
        style="background: rgb(234, 234, 240) !important"
      >
        <div class="container">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarToggler"
            aria-controls="navbarToggler"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span
              class="navbar-toggler-icon"
              style="background-color: white; color: white"
            ></span>
          </button>
          {% if user.is_authenticated %}
          <a href="/administrator" class="navbar-brand"
            ><img
              src="{% static 'main/home.png' %}"
              alt="Logo"
              height="60"
              width="60"
            />
            Brekete Family | Admin Site</a
          >
          <div class="navbar-collapse collapse" id="navbarToggler">
            <ul class="navbar-nav me-auto">
              <li class="navbar-item">
                <a href="/administrator" class="nav-link"> Home</a>
              </li>
              <li class="navbar-item">
                <a href="/" class="nav-link">User Site</a>
              </li>
              <!-- <li class="navbar-item">
              <a href="/contact" class="nav-link">Contact us</a>
            </li>
            <li class="navbar-item">
              <a href="/about" class="nav-link">About us</a>
            </li> -->
            </ul>
            <span class="">
              <a href="/account/logout" class="btn btn-outline-primary ms-5"
                >Logout</a
              >
              {% else %}
              <a href="/account/login" class="btn btn-dark ms-5">Login here</a>
              {% endif %}
            </span>
          </div>
        </div>
      </nav>
    </section>

    <section>
      <div class="container-fluid pt-5 pb-5" style="background-color: black">
        <div class="row">
          <div class="col-md-6 center-text">
            <div style="text-align: center">
              <img
                src="{% static 'main/contactus.svg' %}"
                alt=""
                height="300"
              />
            </div>
          </div>
          <div class="col-md-6">
            <h2
              style="
                font-size: 5em;
                font-weight: bold;
                padding: 2%;
                color: rgb(212, 46, 102);
                text-align: center;
                font-family: Georgia, 'Times New Roman', Times, serif;
              "
            >
              VOICE TO THE VOICELESS
            </h2>
          </div>
        </div>
      </div>
    </section>
    {% block content %} {%endblock%}
  </body>
</html>
