{% extends 'base.html' %} {% load static %} {% block title %}Brekete | Home
{%endblock %}{% block content %}
<div class="container-fluid pt-5">
  <div class="row">
    <div class="col-md-5 ps-5" style="font-weight: bold">
      <h1 style="font-weight: bold">
        <span style="color: tomato"> Voice To</span> <br />
        The Voiceless
        <hr />
      </h1>
      <p>
        Here we give voice to the voiceless, and hope to the masses. You have
        indeed come to the right place.
      </p>
    </div>
    <div class="col-md-7 pe-5">
      <div style="background-color: rgba(214, 67, 41, 0.1)" class="ps-4 pt-3">
        <div class="row">
          <div class="col-6">
            <p>
              <span style="color: tomato; font-size: 2rem; font-weight: bold"
                >01</span
              >
              Your Right, My Right, Our Right
            </p>
            <p>
              <span
                style="color: powderblue; font-size: 2rem; font-weight: bold"
                >02</span
              >
              Justice for All who deserve. 4all.
            </p>
          </div>
          <div class="col-1">
            <div style="height: 120px; border: 1px solid red; width: 1px"></div>
          </div>
          <div class="col-5">
            <!-- <p>let go there</p> -->
            <a
              href="/complain"
              class="btn btn-light mb-3"
              style="
                background: tomato;
                width: 70%;
                color: white;
                font-weight: bold;
              "
              >Register complain</a
            >
            <a
              href="/complain/track"
              class="btn btn-light mb-3"
              style="
                background: tomato;
                width: 70%;
                color: white;
                font-weight: bold;
              "
              >Track my complain</a
            >
            <a
              href="/feedback"
              class="btn btn-light mb-3"
              style="
                background: tomato;
                width: 70%;
                color: white;
                font-weight: bold;
              "
              >Give Your FeedBack</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
